# Django Settings
SECRET_KEY=foo
DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 api
CSRF_TRUSTED_ORIGINS=http://localhost:8018 http://localhost:8019 http://localhost:5418 http://localhost:5432

# Database Settings
DATABASE=postgres
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=postgres_db
SQL_USER=postgres_user
SQL_PASSWORD=postgres_pass
SQL_HOST=db
SQL_PORT=5432

# PostgreSQL Settings (for docker-compose)
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_pass
POSTGRES_DB=postgres_db

# Frontend Settings
NODE_ENV=development
CHOKIDAR_USEPOLLING=true
HOST=0.0.0.0
VITE_API_URL=http://localhost:8018

# JWT
JWT_SIGNING_KEY=foo

# Email Settings
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=mailcatcher
EMAIL_PORT=1025
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=noreply@localhost