asgiref==3.9.1 ; python_version >= "3.13"
black==25.1.0 ; python_version >= "3.13"
certifi==2025.8.3 ; python_version >= "3.13"
cffi==2.0.0 ; python_version >= "3.13" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.3 ; python_version >= "3.13"
click==8.2.1 ; python_version >= "3.13"
colorama==0.4.6 ; (sys_platform == "win32" or platform_system == "Windows") and python_version >= "3.13"
coverage==7.10.6 ; python_version >= "3.13"
cryptography==45.0.7 ; python_version >= "3.13"
django-allauth==65.11.2 ; python_version >= "3.13"
django-filter==25.1 ; python_version >= "3.13"
django==5.2.6 ; python_version >= "3.13"
djangorestframework-simplejwt==5.5.1 ; python_version >= "3.13"
djangorestframework==3.16.1 ; python_version >= "3.13"
execnet==2.1.1 ; python_version >= "3.13"
flake8==7.3.0 ; python_version >= "3.13"
idna==3.10 ; python_version >= "3.13"
iniconfig==2.1.0 ; python_version >= "3.13"
isort==6.0.1 ; python_version >= "3.13"
markdown==3.9 ; python_version >= "3.13"
mccabe==0.7.0 ; python_version >= "3.13"
mypy-extensions==1.1.0 ; python_version >= "3.13"
oauthlib==3.3.1 ; python_version >= "3.13"
packaging==25.0 ; python_version >= "3.13"
pathspec==0.12.1 ; python_version >= "3.13"
platformdirs==4.4.0 ; python_version >= "3.13"
pluggy==1.6.0 ; python_version >= "3.13"
psycopg2-binary==2.9.10 ; python_version >= "3.13"
pycodestyle==2.14.0 ; python_version >= "3.13"
pycparser==2.23 ; platform_python_implementation != "PyPy" and implementation_name != "PyPy" and python_version >= "3.13"
pyflakes==3.4.0 ; python_version >= "3.13"
pygments==2.19.2 ; python_version >= "3.13"
pyjwt==2.10.1 ; python_version >= "3.13"
pytest-cov==7.0.0 ; python_version >= "3.13"
pytest-django==4.11.1 ; python_version >= "3.13"
pytest-xdist==3.8.0 ; python_version >= "3.13"
pytest==8.4.2 ; python_version >= "3.13"
requests==2.32.5 ; python_version >= "3.13"
sqlparse==0.5.3 ; python_version >= "3.13"
tzdata==2025.2 ; python_version >= "3.13" and sys_platform == "win32"
urllib3==2.5.0 ; python_version >= "3.13"
